// DEFAULT VARIABLE OVERRIDE HERE

$spacer: 2.5rem;

body {
  background-color: #fafafa;
}

section {
  padding-top: 2rem;
}

.card-body {
  color: white;
}

// DEFAULTS HERE
@import"../node_modules/bootstrap/scss/bootstrap.scss";

