@use '../custom' as *;

.navbar {
  padding: 0;
  font-size: 1.25em;
}

.navbar-dark {
  background: $dark;
  .navbar-nav {

    .nav-link {
      color: $secondary;
      &:hover,
      &:focus {
        color: #ffffff;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: #ffffff;
    }
  }
}

.navbar-brand {
  color: white;
  justify-content: flex-start;
}

.dropdown-menu {
  background: $dark;
  .dropdown-item {
    color: #ffffff;
  }
  .dropdown-item:hover {
    background: $secondary;
  }
}

.dropdown-divider {
  border-color: $secondary;
}